@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-feature-settings: "liga" 1, "calt" 1, "ss01", "ss03";
}
body {
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}
